<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
        <mat-list-item routerLink="./listaProductos" (click)='sidenav.toggle()'>
          <mat-icon matListItemIcon>label</mat-icon>
          Lista de productos
        </mat-list-item>
        <mat-list-item routerLink="./buscarProducto" (click)='sidenav.toggle()'>
          <mat-icon matListItemIcon>search</mat-icon>
          Buscar producto
        </mat-list-item>
        <mat-list-item routerLink="./carritoCompra" (click)='sidenav.toggle()'>
          <mat-icon matListItemIcon>shopping_cart</mat-icon>
          Carrito de compra
        </mat-list-item>
        <mat-list-item *ngIf="usuario?.esAgricultor" routerLink="./nuevoProducto" (click)='sidenav.toggle()'>
          <mat-icon matListItemIcon>add</mat-icon>
          Añadir producto
        </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>


  <mat-toolbar color="accent">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>


    <span class="toolbar-title">Agro+</span>

    <span class="spacer"></span>

    <span class="toolbar-subtitle">Del campo, a la mesa</span>

    <span class="spacer"></span>

    ¡Bienvenido {{usuario?.usuario||"No has iniciado sesión"}}!
    <span class="spacer"></span>

    <button mat-button routerLink="carritoCompra" routerLinkActive="router-link-active"  >
      <mat-icon>shopping_cart</mat-icon>
    </button>


    <button *ngIf="usuario" mat-button (click)="onLogout()">
      Cerrar sesión
    </button>
    <button *ngIf="!usuario" mat-button (click)="onLogout()">
      Iniciar sesión
    </button>


  </mat-toolbar>



  <div class="container p-2">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>
