<h1 style="margin-top: 15px; "><strong style="font-size: xx-large;">Mis Chats</strong></h1>

<mat-divider></mat-divider>
<div>
  <button mat-flat-button color="primary" style="margin-top: 10px; margin-bottom: 5px;" (click)="verMisProductos()" >
    Volver a mi perfil
  </button>
</div>
<div class="grid bm-8 pt-2">
  <ng-container *ngFor="let cliente of clientes">
    <div style="flex: 1;">
      <mat-card style="height:fit-content;;">
        <mat-card-header>
          <mat-card-title>
            <h1 ><strong>{{cliente.usuario}}</strong></h1>
          </mat-card-title>
        </mat-card-header>
        <mat-divider style="margin-bottom: 5px;"></mat-divider>
        <mat-card-content>
          <app-chatProveedor [currentUser]="cliente" [agricultor]="currentUser" ></app-chatProveedor>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
