<div class="flex flex-column">
  <span class="text-lg mb-4"><h1>Iniciar sesión</h1></span>
<form [formGroup]="loginForm">
  <mat-form-field class="col-12 sm:col-12">
    <mat-label>Usuario</mat-label>
    <input formControlName="usuario" id="usuario" type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field class="col-12 sm:col-12">
    <mat-label>Contraseña</mat-label>
    <input formControlName="contrasena" id="contrasena" type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button class="col-12 sm:col-12" mat-flat-button color="accent" type="submit" (click)="onLogin()">  <mat-icon>login</mat-icon>  Iniciar sesión</button>
</form>
  <div class="flex justify-content-end mt-5">

      <a href="/auth/register"> ¿No tienes cuenta?</a>

  </div>

</div>
