<div class="col-12 sm:col-12 md:col-12 xl:col-12" style="display: flex; align-items: center;">
  <img class="mr-2" mat-card-image [src]="productoCarrito | productoCarritoImage" [alt]="productoCarrito.nombre" style="max-width: 100px; max-height: 100px;">

  <mat-card class="col-8 sm:8 md:8 xl:col-8" style="background-color: rgba(206, 241, 173, 0.486); margin-right: 10px;"> <!-- Ajusta el margen derecho -->
    <mat-card-header>
      <mat-card-title>{{productoCarrito.nombre}} de {{productoCarrito.origen}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="mt-2">
      <h4><strong>Precio: </strong>{{productoCarrito.precio}} € el KG    <strong> Peso unitario:</strong> {{productoCarrito.pesoAproximadoUnidad}} gramos   <strong>Unidades:</strong> {{productoCarrito.cantidad}}</h4>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="pt-2">
      <span><h4><strong>Total:</strong>  {{calcularTotalProducto()}} €</h4></span>
      <span style="margin-left: auto;"></span> <!-- Este span empujará el botón hacia la derecha -->
    </mat-card-actions>
  </mat-card>

  <!-- Botón de borrar a la derecha -->
  <button mat-button mat-raised color="warn" class="mr-2" style="font-size: 20px; width: 50px; height: 50px; margin-top: 10px;"> <!-- Ajusta el margen superior -->
    <mat-icon style="font-size: 24px;">delete</mat-icon>
  </button>
</div>
